div#wrapper.clearfix
  a(href='http://designkitchen.com', class='dk-button', target='_blank')
    span.left from us
    span.right with love

  a(id='see-past-holidays', class='scrooge circle')
    span Gifts Of
    span.large DK Holidays
    span Past
    span.inner-circle

  a(href='https://github.com/designkitchen/dk-holiday', class='github circle', target='_blank')
    span get the
    span.large source code
    span on github
    span.inner-circle

  a(class='share facebook') Facebook
  a(href='https://twitter.com/intent/tweet?source=holicray&text=Every%20tweet%20at%20%40designkitchen%20sets%20off%20the%20Holi-Cray-Matic%E2%84%A2%20in%20one%20of%20our%20conference%20rooms.%20Watch%20it%20live%20at%20http%3A%2F%2Fholiday.designkitchen.com', target='_blank', class='share twitter') Twitter


  header#hidden-animations
    h1.red Holi<span class="hyphen">-</span>cra<span class="y">y</span><span class="hyphen">-</span>m<span class="a">a</span>tic</h1>
    section#description Every 40 @ tweets we get, we’ll set off the <br/><span class="red">Holi-Cray-Matic&trade;</span> in this conference room.
    .northstar
    .kinara
    .snowman
    .star
    .ornament
    .tree


  section#container
    #tweetometer
      #full
        #full-bar
          #full-inner
        #tweet-counter
    #tweetometer-title tweets til next holicray


    #video
      iframe(src="http://www.ustream.tv/embed/9893570", width="670", height="360", scrolling="no", frameborder="0", style="border: 0px none transparent;")
      span holi-cray-vision live from designkitchen
      #top-rail
      #left-rail
      #bottom-rail
      #right-rail
      img(id='offline', src='/images/offline.jpg')

    #tweet
      span.red Tweet at <a href="http://www.twitter.com/designkitchen" target="_blank">@designkitchen</a> to set off our <span class="green">Holi-Cray-Matic&trade;</span></span>
      #tweet-box


  section#column-top
    #total-tweets
      #total-tweets-number
      #total-tweets-title total tweets
      #total-crays-number
      #total-crays-title total crays
      #current-tweet


  section#column-mid
      span.up-next NEXT
      span.history LAST


  section#column-repeat
    article#up-next
      ul

    article#history
      ul




    #latest-tpl.tpl
      #current-tweet-number.red.id NOW
      #current-action.red @
        a(href='http://twitter.com/{{ handle }}', class='handle', target='_blank') {{ handle }}
        span &nbsp;just made&nbsp;
        span.event {{ event }}
      #current-tweet-text.green.title {{ title }}


    #history-tpl.tpl
      li(data-bind-tweet='{{ title }}', class='title')
        span.left.red.id
        span.right @
          a(href='http://twitter.com/{{ handle }}', class='handle', target='_blank')
            {{ handle }}
          span&nbsp;made&nbsp;
          span.event {{ event }}


    #queue-tpl.tpl
      li(data-bind-tweet='{{ title }}', class='title')
        span.left.red.id
        span.right @
          a(href='http://twitter.com/{{ handle }}', class='handle', target='blank')
            {{ handle }}
          span&nbsp;is about to make&nbsp;
          span.event {{ event }}



    #overlay
      #shade
      #holidays-past
        h2 Gifts of DK Holidays Past
        ul.playlist
          li
            a#2008.active 2008
          li
            a#2010 2010
          li
            a.close Close

        #video
