!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='author', href='/humans.txt')
    link(rel='icon', type='image/gif', href='/images/favicon-ornament.gif')
    meta(property='og:title', content='Holi-Cray-Matic™ by Designkitchen')
    meta(property='og:type', content='Website')
    meta(property='og:site_name', content='Holi-Cray-Matic™ by Designkitchen')
    meta(property='og:description', content='Every 40 @designkitchen tweets we get, we’ll set off the Holi-Cray-Matic™ in one of our conference rooms. Watch it live at http://holiday.designkitchen.com')
    meta(property='og:url', content='http://holiday.designkitchen.com')
    meta(property='og:image', content='http://holiday.designkitchen.com/images/snowman.gif')
    script(src='http://platform.twitter.com/anywhere.js?id=hy0r9Q5TqWZjbGHGPfwPjg&v=1')
    script(src='http://use.typekit.com/rfa4hxl.js')
    script
      try{Typekit.load();}catch(e){}
  body
    != body
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/underscore.min.js')
  script(src='/javascripts/qtip.min.js')
  script(src='/application.js')
  script
    $(document).ready(function() {
      var Client = require('client');
      window.App = Client.init();
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1530435-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
