!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='author', href='/humans.txt')
    script(src='http://platform.twitter.com/anywhere.js?id=hy0r9Q5TqWZjbGHGPfwPjg&v=1')
    script(src='http://use.typekit.com/rfa4hxl.js')
    script
      try{Typekit.load();}catch(e){}
  body
    != body
  script(src='/application.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/underscore.min.js')
  script(src='/javascripts/zepto.min.js')
  script
    $(document).ready(function() {
      var Client = require('client');
      window.App = Client.init();
    });

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1530435-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
