@import reset
@import grid

div#wrapper
  container()
  #pageheader
    grid_(12)

#video-feed
  grid_(12)
  height 400px
  background #eee

div#content
  grid_(8)
  ul.tweets
    height 300px
    overflow scroll

div#sidebar
  grid_(4)



