@import reset
@import grid

body
  background #fffedf

h1
  font-size 36px
  margin 20px 0
h2
  font-size 20px
  margin 20px 0

div#wrapper
  width 660px
  margin 0 auto
  padding 20px 60px
  background #fffff5


#content
  #video-feed
    height 300px
    margin 20px 0
    background #eee

  #stats
    position relative

    #total-tweets
      position absolute
      top 0
      left -100px

    #total-holicrays
      position absolute
      top 0
      right -100px

  #activity-feed
    #up-next
      width 48%
      float left

    #history
      width 48%
      float right
  ul.tweets
    height 300px
    overflow scroll

div#sidebar
  grid_(4)



