@import reset
@import grid
@import 'jackedup.css'

h1
  font-size 36px
  margin 20px 0
h2
  font-size 20px
  margin 20px 0

div#wrapper
  container()
  #pageheader
    grid_(12)

div#content
  grid_(8)
  #video-feed
    height 300px
    background #eee
  ul.tweets
    height 300px
    overflow scroll

div#sidebar
  grid_(4)



